.container {
  height: 100vh;
  background: linear-gradient(to right, #df8493, #ff7eb3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  min-width: 100vw;
}

.countdown-box {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.time-card {
  background: white;
  color: #ff4081;
  padding: 20px;
  width: 100px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.time-card h2 {
  margin: 0;
  font-size: 32px;
}

.message {
  margin-top: 20px;
  color: yellow;
}

.celebrate-btn {
  margin-top: 25px;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: yellow;
  color: #ff4081;
  font-weight: bold;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}


.wait-to-celebrate-btn {
  margin-top: 25px;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: grey;
  color: black;
  font-weight: bold;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}
.celebrate-btn:hover {
  transform: scale(1.1);
}

/* Falling animation container */
.fall-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
}

/* Falling items */
.fall-item {
  position: absolute;
  top: -50px;
  font-size: 30px;
  animation: fall linear infinite;
}

/* Keyframes */
@keyframes fall {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(100vh);
  }
}

